﻿@{ ViewBag.Title = "Dashboard"; }

<!-- Statistics -->
<div class="row">
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <div class="p-2 text-xs-center bg-cyan bg-darken-2 media-left media-middle">
                        <i class="icon-camera7 font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-cyan white media-body">
                        <h5>New Products</h5>
                        <h5 class="text-bold-400">28</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <div class="p-2 text-xs-center bg-deep-orange bg-darken-2 media-left media-middle">
                        <i class="icon-user1 font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-deep-orange white media-body">
                        <h5>New Users</h5>
                        <h5 class="text-bold-400">1,22,356</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <div class="p-2 text-xs-center bg-teal bg-darken-2 media-left media-middle">
                        <i class="icon-cart font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-teal white media-body">
                        <h5>New Orders</h5>
                        <h5 class="text-bold-400">4,65,879</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <div class="p-2 text-xs-center bg-pink bg-darken-2 media-left media-middle">
                        <i class="icon-banknote font-large-2 white"></i>
                    </div>
                    <div class="p-2 bg-pink white media-body">
                        <h5>Total Profit</h5>
                        <h5 class="text-bold-400">5.6 M</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Statistics -->
<!--project Total Earning, visit & post-->
<div class="row">
    <div class="col-xl-4 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="earning-chart position-relative">
                    <div class="chart-title position-absolute mt-2 ml-2">
                        <h1 class="display-4">$9865</h1>
                        <span class="text-muted">Total Earning</span>
                    </div>
                    <canvas id="earning-chart" class="height-450 block"></canvas>
                    <div class="chart-stats position-absolute position-bottom-0 position-right-0 mb-2 mr-3">
                        <a href="#" class="btn bg-cyan mr-1 white">Statistics <i class="icon-stats-bars"></i></a> <span class="text-muted">for the <a href="#" class="primary darken-2">last year.</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-block">
                    <canvas id="posts-visits" class="height-400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/project Total Earning, visit & post-->
<!-- projects table with monthly chart -->
<div class="row">
    <div class="col-xl-8 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Ongoing Projects</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <p class="m-0">Total ongoing projects 6<span class="float-xs-right"><a href="#" target="_blank">Project Summary <i class="icon-arrow-right2"></i></a></span></p>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th>Owner</th>
                                <th>Priority</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-truncate">ReactJS App</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="~/Assets/images/portrait/small/avatar-s-4.png" alt="avatar"></span> <span>Sarah W.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-success">Low</span></td>
                                <td class="valign-middle">
                                    <progress value="88" max="100" class="progress progress-xs progress-success m-0">88%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate">Fitness App</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="~/Assets/images/portrait/small/avatar-s-5.png" alt="avatar"></span> <span>Edward C.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-warning">Medium</span></td>
                                <td class="valign-middle">
                                    <progress value="55" max="100" class="progress progress-xs progress-warning m-0">55%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate">SOU plugin</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="~/Assets/images/portrait/small/avatar-s-6.png" alt="avatar"></span> <span>Carol E.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-danger">Critical</span></td>
                                <td class="valign-middle">
                                    <progress value="25" max="100" class="progress progress-xs progress-danger m-0">25%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate">Android App</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="~/Assets/images/portrait/small/avatar-s-7.png" alt="avatar"></span> <span>Gregory L.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-success">Low</span></td>
                                <td class="valign-middle">
                                    <progress value="95" max="100" class="progress progress-xs progress-success m-0">95%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate">ABC Inc. UI/UX</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="~/Assets/images/portrait/small/avatar-s-8.png" alt="avatar"></span> <span>Susan S.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-warning">Medium</span></td>
                                <td class="valign-middle">
                                    <progress value="45" max="100" class="progress progress-xs progress-warning m-0">45%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate">Product UI</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="~/Assets/images/portrait/small/avatar-s-9.png" alt="avatar"></span> <span>Walter K.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-danger">Critical</span></td>
                                <td class="valign-middle">
                                    <progress value="15" max="100" class="progress progress-xs progress-danger m-0">15%</progress>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-truncate">Fitness App</td>
                                <td class="text-truncate">
                                    <span class="avatar avatar-xs"><img src="~/Assets/images/portrait/small/avatar-s-5.png" alt="avatar"></span> <span>Edward C.</span>
                                </td>
                                <td class="text-truncate"><span class="tag tag-warning">Medium</span></td>
                                <td class="valign-middle">
                                    <progress value="55" max="100" class="progress progress-xs progress-warning m-0">55%</progress>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12">
        <div class="card bg-cyan">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="icon-pencil white font-large-2 float-xs-left"></i>
                        </div>
                        <div class="media-body white text-xs-right">
                            <h3>278</h3>
                            <span>New Posts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-teal">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body white text-xs-left">
                            <h3>156</h3>
                            <span>New Clients</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-user1 white font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-deep-orange">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-left media-middle">
                            <i class="icon-chat1 white font-large-2 float-xs-left"></i>
                        </div>
                        <div class="media-body white text-xs-right">
                            <h3>156</h3>
                            <span>New Comments</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-cyan">
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <div class="media-body white text-xs-left">
                            <h3>423</h3>
                            <span>Support Tickets</span>
                        </div>
                        <div class="media-right media-middle">
                            <i class="icon-ios-help-outline white font-large-2 float-xs-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>