﻿<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li class="nav-item">
                <a href="#">
                    <i class="icon-home3"></i>
                    <span data-i18n="nav.changelog.main" class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="icon-database"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">Master Data</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a href="#" data-i18n="nav.dash.main" class="menu-item">Master Crew</a>
                    </li>
                    <li>
                        <a href="#" data-i18n="nav.dash.main" class="menu-item">Master Ship</a>
                    </li>
                    <li>
                        <a href="#" data-i18n="nav.dash.main" class="menu-item">Master Ship Category</a>
                    </li>
                    <li>
                        <a href="#" data-i18n="nav.dash.main" class="menu-item">Master Crew Status</a>
                    </li>
                    <li>
                        <a href="#" data-i18n="nav.dash.main" class="menu-item">Master Jabatan</a>
                    </li>
                    <li>
                        <a href="#" data-i18n="nav.dash.main" class="menu-item">Master User</a>
                    </li>
                    <li>
                        <a href="#" data-i18n="nav.dash.main" class="menu-item">Master User Role</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="icon-binoculars"></i>
                    <span data-i18n="nav.changelog.main" class="menu-title">Create Data Lowongan</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="icon-man-woman"></i>
                    <span data-i18n="nav.changelog.main" class="menu-title">Candidate Application</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="icon-map22"></i>
                    <span data-i18n="nav.changelog.main" class="menu-title">Crew on Board Scheduling</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="icon-make-group"></i>
                    <span data-i18n="nav.changelog.main" class="menu-title">Crew On Board and Switching</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="icon-files-empty"></i>
                    <span data-i18n="nav.changelog.main" class="menu-title">Certificate & Contract Alert Management</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <i class="icon-exit"></i>
                    <span data-i18n="nav.changelog.main" class="menu-title">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>