﻿<!DOCTYPE html>
<html lang="id" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="dheroefic">
    <title>@ViewBag.Title - Crew Management System</title>
    <!-- BEGIN VENDOR CSS-->
    @Styles.Render("~/Assets/css/bootstrap.css")
    <!-- font icons-->
    @Styles.Render("~/Assets/fonts/icomoon.css")
    @Styles.Render("~/Assets/fonts/flag-icon-css/css/flag-icon.min.css")
    @Styles.Render("~/Assets/vendors/css/extensions/pace.css")
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    @Styles.Render("~/Assets/css/bootstrap-extended.css")
    @Styles.Render("~/Assets/css/app.css")
    @Styles.Render("~/Assets/css/colors.css")
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    @Styles.Render("~/Assets/css/core/menu/menu-types/vertical-menu.css")
    @Styles.Render("~/Assets/css/core/menu/menu-types/vertical-overlay-menu.css")
    @Styles.Render("~/Assets/css/core/colors/palette-gradient.css")
    <!-- END Page Level CSS-->
    @Styles.Render("~/Assets/css/custom.css")
</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns  fixed-navbar">
    <!-- Header -->
    @Html.Partial("Components/_Header")
    <!-- Sidebar -->
    @Html.Partial("Components/_Sidebar")
    <!-- Content -->
    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Footer -->
    @Html.Partial("Components/_Footer")
    <!-- BEGIN VENDOR JS-->
    @Scripts.Render("~/Assets/js/core/libraries/jquery.min.js")
    @Scripts.Render("~/Assets/vendors/js/ui/tether.min.js")
    @Scripts.Render("~/Assets/js/core/libraries/bootstrap.min.js")
    @Scripts.Render("~/Assets/vendors/js/ui/perfect-scrollbar.jquery.min.js")
    @Scripts.Render("~/Assets/vendors/js/ui/unison.min.js")
    @Scripts.Render("~/Assets/vendors/js/ui/blockUI.min.js")
    @Scripts.Render("~/Assets/vendors/js/ui/jquery.matchHeight-min.js")
    @Scripts.Render("~/Assets/vendors/js/ui/screenfull.min.js")
    @Scripts.Render("~/Assets/vendors/js/extensions/pace.min.js")
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    @Scripts.Render("~/Assets/vendors/js/charts/chart.min.js")
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    @Scripts.Render("~/Assets/js/core/app-menu.js")
    @Scripts.Render("~/Assets/js/core/app.js")
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    @Scripts.Render("~/Assets/js/scripts/pages/dashboard-2.js")
    <!-- END PAGE LEVEL JS-->
</body>
</html>